body {
  font-family: 'Montserrat', sans-serif;
  background-color: #292929;
  text-align: center;
}

header {
  background-color: rgb(64, 131, 198);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #fff;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

section {
  background-color: #333;
  box-shadow: 0px 0px 10px 0px #292929;
  width: 80%;
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;
}

h2 {
  color: rgb(255, 255, 255);
  margin: 0;
}

h3 {
  font-style: italic;
  font-weight: lighter;
  font-size:small;
  color: rgb(163, 163, 163);
  margin: 0;
}

h4 {
    font-size:large;
    color: white;
    margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

p {
  color:  rgb(223, 221, 221);
}

li {
  color: rgb(223, 221, 221);
  margin-left: 20px;
}

a {
  color: white;
  font-size:medium;

}

footer {
  background-color: rgb(64, 131, 198);
  color: #fff;
  padding: 1rem;
  text-align: center;
}
/* CAROUSEL */
.carousel {
    position: relative;
    height: 600px;
    width:90%;
    margin: 0 auto;
}

.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    /* background: lightgreen; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

 .carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__button--left{
    left: -40px;
}

.carousel__button--right{
    right: -40px;
}


.carousel__button img {
    width: 20px;
} 

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,.3);
    margin: 0 12px;
    cursor: pointer;
}

/* indicates what slide were on by making it ligther */
.carousel__indicator.current-slide{
    background: white;
}

.is-hidden {
    display : none;
}

.sbs__container{
    display: flex;
    /* background: lightgreen; */
}

.image__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image__container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

.text__container{
    flex: 1;
    max-width: 50%;
    min-width: 50%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__container--right{
    text-align: justify;
    margin: 10px;
}

    